@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --bg-color: #f9f9f1;
  --primary: #ca3b17;
  --primary-light: #dd9a8e;
  --text-color: #692210; */
  --bg-color:#f3f3fd;
  --primary: #1759ca; 
  --primary-semilight: #94a5be;
  --primary-light: #c8d5f3;
  --text-color: #102169;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .container {
    @apply 
    w-full px-4 
    md:px-24 md:max-w-[1200px] 
    flex flex-col items-center justify-start;  
  }

}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes gradientAnimation {
  0% { background-position: 200% 0; }
  100% { background-position: 0 0; }
}

.gradient-bg {
  background: linear-gradient(to right, #f5f5f5, #ececec, #ececec, #f5f5f5, #ececec, #ececec, #f5f5f5);
  background-size: 200% auto;
  animation: gradientAnimation 1s infinite linear;
}

